.rocket-list-container {
  padding: 0;
  margin: 0 5%;
}

.rocket-list-container > li {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 2em 0;
}

.rocket-list-container > li > img {
  width: 25%;
}

.rocket-list-container > li > div {
  margin: 10px;
}

.rocket-list-container > li > div > p > span {
  background-color: darkseagreen;
  border-radius: 5px;
}
